@charset "UTF-8";
/*인트로*/
#myBar {
  background-color: #3c8fcd;
}

.b_main {
  background: -webkit-gradient(linear, left top, left bottom, from(#5a1659), to(#4c124b)) !important;
  background: linear-gradient(180deg, #5a1659, #4c124b) !important;
  color: #fff !important;
}

.b_main:hover {
  background: -webkit-gradient(linear, left top, right top, from(#3a0c39), to(#3a0c39)) !important;
  background: linear-gradient(90deg, #3a0c39, #3a0c39) !important;
}

.b_sub {
  background: -webkit-gradient(linear, left top, left bottom, from(#3b86ff), to(#1e5ab9)) !important;
  background: linear-gradient(180deg, #3b86ff, #1e5ab9) !important;
  color: #fff !important;
}

.b_sub:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#3b86ff), to(#3b86ff)) !important;
  background: linear-gradient(0deg, #3b86ff, #3b86ff) !important;
  color: #fff !important;
}

.b_third {
  background: linear-gradient(45deg, #c47c2e, #f0be63, #c47c2e) !important;
  border: 1px solid #c47c2e;
  color: #fff !important;
}

.b_third:hover {
  background: linear-gradient(25deg, #c47c2e, #c47c2e) !important;
  border: 1px solid #c47c2e;
}

.btn, a.btn {
  border-radius: 3px;
}

a.btn_secondary, .btn_secondary {
  color: black;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.6)), to(white));
  background: linear-gradient(to left, rgba(255, 255, 255, 0.6), white);
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

a.btn_secondary:hover, .btn_secondary:hover {
  color: black;
  background: -webkit-gradient(linear, right top, left top, from(#fff), to(#fff));
  background: linear-gradient(to left, #fff, #fff);
  border: none;
}

a.btn_third, .btn_third {
  color: black;
  background: -webkit-gradient(linear, right top, left top, from(#e3e7f6), to(#b2bed2));
  background: linear-gradient(to left, #e3e7f6, #b2bed2);
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

a.btn_third:hover, .btn_third:hover {
  color: black;
  background: -webkit-gradient(linear, right top, left top, from(#fff), to(#fff));
  background: linear-gradient(to left, #fff, #fff);
  border: none;
}

a.btn_primary, .btn_primary, .btn.btn_primary {
  border: none;
  color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  background: -webkit-gradient(linear, left top, right top, from(#3c8fcd), to(#005596));
  background: linear-gradient(90deg, #3c8fcd, #005596);
  border: 1px solid #3ca1ec;
  -webkit-transition: all 1s;
  transition: all 1s;
}

a.btn_primary:hover, .btn_primary:hover, .btn.btn_primary:hover {
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#3c8fcd), to(#3c8fcd));
  background: linear-gradient(90deg, #3c8fcd, #3c8fcd);
}

a.btn_cancle, .btn_cancle {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  color: black;
  border-radius: 8px;
  background: #ccc;
}

a.btn_cancle:hover, .btn_cancle:hover {
  color: #c47c2e;
  background: white;
}

.user.selected {
  background: #c47c2e;
}

.btn-primary {
  background: #c47c2e;
}

/*공통*/
.point_font {
  font-size: 10px;
  font-weight: 100;
}

/*대쉬보드*/
.day {
  color: #565656;
}

.history_latest {
  line-height: 24px;
}

.history_latest .card_title {
  margin-bottom: 15px;
}

.history_latest .category {
  padding: 0 10px;
  font-size: 12px;
}

.history_latest .price {
  color: #3b86ff;
  font-size: 13px;
  font-weight: 600;
}

.regist_latest {
  line-height: 24px;
  font-size: 12px;
}

.regist_latest span {
  vertical-align: middle;
}

.regist_latest .card_title {
  margin-bottom: 15px;
}

.regist_latest .id {
  font-size: 14px;
  display: inline-block;
  min-width: 80px;
  font-weight: 600;
  margin: 0 10px;
}

.regist_latest .badge {
  font-weight: 500;
}

.total_view_top .row.top {
  margin: 10px 0px;
  background: aliceblue;
  border-radius: 10px;
}

.value_no {
  color: red;
}

.total_view_wrap .rank_title {
  width: 100%;
  padding: 3px 10px;
  margin: 10px 20px -10px;
  background: #f0edff;
  border-radius: 10px;
}

.ml10 {
  margin-left: 10px;
}

.color0 {
  background: #696878 !important;
}

.color1 {
  background: #373cbc !important;
}

.color2 {
  background: #09c4d4 !important;
}

.color3 {
  background: #0e7e21 !important;
}

.color4 {
  background: #c52e7b !important;
}

.color5 {
  background: #779cfe !important;
}

.color6 {
  background: #6214ab !important;
}

.color7 {
  background: #f65463 !important;
}

.color8 {
  background: #1ac7ff !important;
}

.color9 {
  background: #272733 !important;
}

/* @media screen and (min-width:768px) {
	body{background:#fff;color:white;}
	#wrapper{max-width:767px;margin:0 auto;}
}  */
.adm_btn {
  background: #FECE00;
  font-size: 13px !important;
  letter-spacing: 0px;
  color: #111;
  font-weight: 700;
  padding: 3px 10px 2px;
  float: right;
  margin-right: 15px;
  border-radius: 15px;
  margin: 0;
}

.adm_btn i {
  font-size: 16px;
  margin-right: 3px;
}

/* 유저 아이콘*/
.user_icon {
  background: #cbd2de;
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
  border-radius: 50%;
}

.user_icon i {
  font-weight: 300;
}

.user_icon.lv0 {
  color: white;
}

.user_icon.lv1 {
  background: #2b3a6d;
  color: white;
}

.user_icon.lv2 {
  background: #61b5ff;
  color: #1a4158;
}

.user_icon.lv3 {
  background: red;
  color: white;
}

.user_icon.lv4 {
  background: green;
  color: white;
}

.user_icon.lv5 {
  background: black;
  color: gold;
}

.user_icon.lv9 {
  background: black;
  color: white;
}

.user_icon.lv10 {
  background: black;
  color: white;
}

.user-content .userid {
  font-size: 30px;
}

/*국가선택 - 나라국기표시*/
.nation_flag {
  vertical-align: middle;
}

.nation_flag img {
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

/* 인풋-캐비닛 표시 */
.cabinet_inner {
  width: 100%;
  font-size: 11px;
  padding-left: 10px;
  color: #006df3;
  display: none;
}

/* 모달팝업 제한 추가 */
.modal-body {
  max-height: 400px;
  overflow-y: scroll;
}

/* 레이아웃 유틸 */
.mr0 {
  margin-right: 0;
}

.pr0 {
  padding-right: 0;
}

.ml0 {
  margin-left: 0;
}

.pl0 {
  padding-left: 0;
}

.r_card.active {
  border: 2px solid white;
}

/* 대쉬보드 버튼 추가 */
@media screen and (min-width: 768px) {
  .my_btn_wrap .btn.main_btn {
    padding: 15px 15px;
  }
}
