.week_dividend .radio_btn {
  width: 40px;
  height: 40px;
}

.week_dividend .divide {
  display: inline-block;
  margin: 0 15px;
}

.week_dividend label {
  cursor: pointer;
}

.t_white {
  color: white;
  font-weight: 600;
  font-size: 11px;
}

.strong {
  font-weight: 600;
}

.f_blue {
  color: blue;
}

.nanum {
  font-family: 'Nanum-Gothic';
}

.value_font {
  font-size: 13px;
  font-weight: 600;
}

.point_font {
  font-size: 11px;
  font-weight: 100;
  5
}

.coin .badge{font-size:11px;font-weight:600;}
.badge.eth{background:navy;color:white;}
.badge.fil {background:#2b72db;color:white;}
.badge.dollor{background:gold;color:black;}