<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    <link rel=" shortcut icon" href="/img/favicon_1terapower.png">
    <link rel="icon" href="/img/favicon_1terapower.png">

    <meta property="og:title" content="1terapower" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://1terapower.io/" />
    <meta property="og:image" content="/img/ogimg_1terapower.png" />

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/common_m.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/js/common.js"></script>

    <title>1terapower</title>
</head>

<body>
    <header>
        <img class="header_logo" src="./img/logo_white.png" onclick="location.href='/'">
        <ul class="header_ul">
            <li class="menu"><a data-location="home">HOME</a></li>
            <li class="menu"><a data-location="about">ABOUT</a></li>
            <li class="menu"><a data-location="business">BUSINESS</a></li>
            <li class="menu"><a data-location="service">SERVICE</a></li>
            <li class="menu"><a data-location="faq">FAQ</a></li>
            <li class="mobile">
                <!-- <button type="button" onclick="location.href='/inquiry'">문의하기</button> -->
                <button type="button" onclick="location.href='myoffice.1terapower.io';">My Office</button>
            </li>
            <li class="mobile" style="display:none">
                <ol>
                    <li>
                        <span>회사명</span>
                        <p></p>
                    </li>
                    <li>
                        <span>사업자등록번호</span>
                        <p></p>
                    </li>
                    <li>
                        <span>대표 / 정보책임자</span>
                        <p></p>
                    </li>
                    <li>
                        <span>TEL</span>
                        <p></p>
                    </li>
                    <li>
                        <span>FAX</span>
                        <p>9</p>
                    </li>
                    <li>
                        <span>E-MAIL</span>
                        <p></p>
                    </li>
                </ol>
            </li>
            <li class="mobile copyright">Copyright 2021 © 1TERAPOWER. All Rights Reserved.</li>
            <li class="mobile close"><img src="./img/ico_menuclose.png" class="close_btn"></li>
        </ul>
        <span class="myoffice" onclick="location.href='myoffice.1terapower.io'">My Office</span>
        <div class="mobile">
            <img src="./img/ico_myoffice_white.png" class="myoffice_menu" onclick="alert('준비중입니다.');">
            <img src="./img/ico_menuopen_white.png" class="menuopen_menu">
        </div>
    </header>