.schedule_table {
  background: ghostwhite;
  padding: 30px 20px;
  border-bottom: 1px solid #111;
}

.schedule_table li {
  list-style: none;
  display: inline-block;
}

.input1 {
  width: 150px;
  padding: 5px;
  font-weight: 600;
  font-size: 15px;
  color: blue;
}

.submit_btn {
  background: black;
  border: 1px solid black;
  width: 120px;
  color: white;
  height: 30px;
  margin-left: 10px;
}

.red {
  color: red;
  font-weight: 600;
}

.green {
  color: green;
  font-weight: 600;
}

.f_blue {
  color: blue;
  font-weight: 600;
  margin-right: 5px;
  font-size: 16px;
}

.schedule {
  width: 100%;
  padding: 30px 0;
  height: 100%;
}

.schedule p {
  text-align: left;
}

.daul {
  width: 50%;
  display: inline-block;
  float: left;
  padding-bottom: 30px;
}

.schedule li {
  list-style: none;
  line-height: 26px;
  border: 1px solid #ccc;
  border-bottom: none;
  width: 90%;
  text-align: right;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.schedule li dt {
  display: inline-block;
  min-width: 35px;
  border-right: 1px solid #ccc;
  font-size: 11px;
  padding-right: 3px;
  color: #555;
}

.schedule li dt {
  background: ghostwhite;
}

.schedule li dt:first-child {
  background: #f9ebeb;
}

.schedule li dd {
  display: inline-block;
  width: 100%;
  padding: 0 10px;
}

.schedule li.li-footer {
  background: #f1f1f1;
  color: red;
  border-bottom: 1px solid #ccc;
  display: inherit;
  text-align: right;
}

#dialogModal .modal-dialog {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  max-height: 90vh;
}

.modal-body {
  max-height: 600px;
}
