<table style="width:100%">
    <tr>
        <td align="center">
            <table style="border-spacing:0;width:100%;max-width:640px;padding:80px 20px 60px 20px;border:10px solid #261829;background:#fff;letter-spacing:-2px;">
                <tr><td style="padding-bottom:70px;text-align:center;font-size:40px;font-weight:700;">1TERAPOWER 문의내용</td></tr>
                <tr>
                    <td>
                        <table style="border-spacing:0;width:100%;font-size:16px;font-weight:700;">
                            <tr>
                                <td style="width:80px;height:40px;padding-top:30px;vertical-align:middle;border-bottom:1px solid #44403a">이름</td>
                                <td style="height:40px;padding-top:30px;vertical-align:middle;color:#752c83;border-bottom:1px solid #44403a"><%= data.name%></td>
                            </tr>
                            <tr>
                                <td style="width:80px;height:40px;padding-top:30px;vertical-align:middle;border-bottom:1px solid #44403a">연락처</td>
                                <td style="height:40px;padding-top:30px;vertical-align:middle;color:#752c83;border-bottom:1px solid #44403a"><%= data.phone%></td>
                            </tr>
                            <tr>
                                <td style="width:80px;height:40px;padding-top:30px;vertical-align:middle;border-bottom:1px solid #44403a">이메일</td>
                                <td style="height:40px;padding-top:30px;vertical-align:middle;color:#752c83;border-bottom:1px solid #44403a"><%= data.email%></td>
                            </tr>
                        </table>
                    </td>
                </tr>                
                <tr>
                    <td>
                        <table style="border-spacing:0;width:100%;font-size:16px;font-weight:700;">                        
                            <tr>
                                <td style="width:80px;height:40px;padding-top:30px;vertical-align:middle;">문의내용</td>
                            </tr>
                            <tr>
                                <td style="height:40px;vertical-align:middle;color:#752c83;border-bottom:1px solid #44403a"><%= data.contents%></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>