<%- include ('./inc/header.ejs') -%>
    <div class="home" id="home">
        <img src="./img/bg_home_1920.png" alt="" class="pc_banner">
        <img src="./img/bg_home_768.png" alt="" class="mobile_banner">
        <div>
            <p><font>Mining with</font><br><span>1</span>TERAPOWER</p>
            <button class="download" type="button" onclick="alert('준비중입니다.');">다운로드</button>
        </div>
    </div>
    <div class="about" id="about">
        <div class="main_wrap">
            <div class="title">
                <span>ABOUT</span>
                <p>고객이 직접 IPFS 스토리지 <br class="mobile">비지니스를 <br class="pc">원활하게 진행할 수 <br class="mobile">있는 시스템을 제공합니다.</p>
            </div>
            <div class="info_list">
                <ul>
                    <li>01</li>
                    <li>고객의 개인형 스토리지 마이너를 <br class="mobile">국내 1TERAPOWER 연구소에서 직접 제작</li>
                    <li>02</li>
                    <li>고객이 100% 파일코인 인센티브를 받을 수 있도록 <br class="mobile">필폭스 계정을 고객 소유로 정식 등록</li>
                    <li>03</li>
                    <li>186년 간 블록, 저장, 검색, 인센티브를 받을 수 있도록 <br class="mobile">스토리지 서버를 전문 IDC센터에서 직접 <br class="mobile">관리하는 시스템 파트너 기업</li>
                </ul>
            </div>
            <div class="img_list">
                <ul>
                    <li>
                        <img src="./img/ico_about_01.png" alt="">
                        <span>빠른 채굴 파워 증가</span>
                        <p>목표 파워에 최대한 빠르게 <br class="pc">도달하여 최대의 블록을 보상</p>
                    </li>
                    <li>
                        <img src="./img/ico_about_02.png" alt="">
                        <span>국내 IDC 센터</span>
                        <p>안전하고 높은 성능을 발휘 할 <br class="pc">수 있는 최적의 공간을 제공</p>
                    </li>
                    <li>
                        <img src="./img/ico_about_03.png" alt="">
                        <span>운영 관리</span>
                        <p>순정품 사양과 저장 검색 <br class="pc">보상을 위한 전문 운영 관리</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="business" id="business">
        <div class="main_wrap">
            <div class="title">
                <span>BUSINESS</span>
                <p>두 개의 미래 산업 <br class="">하나의 비지니스 모델</p>
            </div>
            <div class="sub_title">
                <h3>DATA Storage & Virtual currency</h3>
                <p>IPFS는 전혀 새로운 방식의 인터넷 프로토콜 시스템으로써<br>여러 미래 산업에 엄청난 영향을 끼치게 될 두 개의 산업이 <br class="mobile">합쳐진 하나의 비지니스 모델입니다.</p>
                <div class="business_list">
                    <ul>
                        <li>
                            <div>
                                <h2>01</h2>
                                <h2>인터넷 데이터 비지니스</h2>
                                <div>사물인터넷, 자율주행, 인공지능, 드론, 3D프린트 등 4차 산업은 데이터 처리 능력이 기업 경쟁력입니다. IPFS 분산서버 서비스는 엄청난 속도로 성장하고 있는 데이터시장에 탈중앙화라는 혁신을 만들었고, 데이터 분산저장 방식으로 전세계 수많은 개인들의 노드 참여 기회 제공은 물론 적극 권장하고 있습니다.</div>
                            </div>
                            <div>

                            </div>
                        </li>
                        <li>
                            <div>
                                <h2>02</h2>
                                <h2>가상화폐 비지니스</h2>
                                <div>정보(DATA)통신 산업의 기반이 되는 인터넷 서비스의 새로운 프로토콜 서비스는 디지털 이코노미의 기반이 되는 디지털 화폐 결제 방식의 결합은 새로운 도전을 뛰어넘는 위대한 혁신이라고 평가 받고 있습니다.</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="business_sub_list">
                    <ul>
                        <li>
                            <img src="./img/ico_business_01.png" alt="">
                            <div>
                                <h3>PROTOCOL LABS</h3>
                                <h2>오픈 소스 R&D 연구소</h2>
                                <p>인터넷을 근본적으로 개선하기 위해 프로토콜 도구 및 서비스를 구축하고 수천 개의 조직과 수 백만 명의 사람들에게 서비스를 제공</p>
                            </div>
                        </li>
                        <li>
                            <img src="./img/ico_business_02.png" alt="">
                            <div>
                                <h3>IPFS</h3>
                                <h2>Inter Planetary File System</h2>
                                <p>분산형 P2P 파일 표준으로 중복제거, 대용량의 데이터를 지속적으로 저장하며 세계의 모든 정보를 신뢰 할 수 있도록 분산 저장</p>
                            </div>
                        </li>
                        <!-- <li>
                            <img src="./img/ico_business_04.png" alt="">
                            <div>
                                <h3>emc</h3>
                                <h2>IPFS 분산서버 공급기업</h2>
                                <p>국내 유일한 독립 형 IPFS 분산서버 공급 업체로써 기업 뿐만 아니라 일반인들도 IPFS 분산서버 비즈니스에 참여 할 수 있는 서비스 제공</p>
                            </div>
                        </li> -->
                        <li>
                            <img src="./img/ico_business_03.png" alt="">
                            <div>
                                <h3>FILE COIN</h3>
                                <h2>탈중앙화 네트워크</h2>
                                <p>IPFS를 개발한 프로토콜랩스에서 IPFS 분산서버 이용 시 지불 및 보상 형태로 사용하기 위해 개발</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="service" id="service">
        <div class="main_wrap">
            <div class="title">
                <span>SERVICE</span>
                <p>당신의 더 나은 삶을 위해 <br class="mobile">항상 혁신, 도전합니다.</p>
            </div>
            <div class="sub_title sub1">
                <h3>IPFS 분산서버 비즈니스 참여 <br class="mobile">& 진행순서</h3>
                <ul>
                    <li>
                        <h3>서버 계약</h3>
                        <p>연구소에서 서버에 관한 구매 및 위탁 관리에 관한 계약을 하고 향후 진행 과정에 관한 내용을 공유합니다.</p>
                    </li>
                    <li>
                        <h3>서버 세팅 및 <br>테스트</h3>
                        <p>계약 완료되면 30일 동안 연구소에서 해당 서버의 세팅과 테스트 마이닝을 직접 진행합니다.</p>
                    </li>
                    <li>
                        <h3>담보금</h3>
                        <p>테스트가 마무리되면 FILFOX 사이트에서 해당 서버의 계정 등록 확인이 가능합니다. 담보금을 계정에 예치, 마이닝을 시작합니다.</p>
                    </li>
                    <li>
                        <h3>블럭마이닝 및 <br>저장마이닝</h3>
                        <p>분산서버 비즈니스 인센티브 30%에 해당하는 마이닝이 진행됩니다. 해당 서버에 형성되는 블럭과 저장되는 데이터 양만큼 FILECOIN으로 보상 됩니다.</p>
                    </li>
                    <li>
                        <h3>검색 마이닝</h3>
                        <p>전체 인센티브 70%에 해당하는 단계입니다. IPFS 프로토콜 상용화가 시작되면 서버의 용량과 위치에 따라 서버로써의 역할을 수행하고 FILECOIN으로 보상 됩니다.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="faq" id="faq">
        <div class="main_wrap">
            <div class="title">
                <span>FAQ</span>
                <p>1TERAPOWER와 함께 <br class="mobile">당신의 미래를 설계하세요.</p>
            </div>
            <div class="faq_wrap">
                <div class="faq_list">
                    <ul>
                        <li class="question">
                            <span>Q.</span>
                            FILE COIN 이란?
                        </li>
                        <li class="answer" style="display:list-item">
                            파일코인은 IPFS 기술을 사용하여 탈중앙 분산형 클라우드 시스템을 구현하기 위한 암호화폐이다. <br>
                            파일코인 사용자는 다른 사용자 컴퓨터의 남는 하드 디스크 공간을 활용해 파일을 저장하고 열람할 수 있다. <br>
                            파일 코인은 후안 베넷(JUAN BENET)이 설립한 프로토콜랩스(PROTOCOL LABS)가 개발했다. <br>
                            파일코인은 2017년 8월 10일 ICO를 시작한지 1개월만에 2억 5,700만 달러(약 2,800억원)이 넘는 투자 자금을 모았다. <br>
                            이것은 당시로서는 ICO 역사상 가장 큰 액수에 해당한다. <br>
                            파일코인은 프로토콜랩스(PROTOCOL LABS)가 IPFS를 토대로 네트워크에 인센티브를 추가해 만든 스토리지 공유시스템이다. <br>
                            파일코인은 콘텐츠 데이터를 널리 배급하는 디스트리뷰터로 참여하는 노드, 스토리지 기여 노드에게 파일코인 인센티브를 지급해 사용자의 참여를 자체적으로 독려하고 있다. <br>
                            파일코인의 이 같은 인센티브 구조를 저장증명(PROOF OF STORAGE)방식이라고도 부른다. <br>
                            파일코인은 스토리지를 기여한 사용자에게 인센티브를 주고 이를 토대로 분산저장소를 구현하는 스토리지 플랫폼이 될 것이다. <br>
                            IPFS를 토대로 구축된 스토리지는 중앙화 솔루션을 사용하지 않기 때문에 검열저항성이 더욱 높은 특징이 있다. <br>
                            실제로 9PB(페타바이트)급 방대한 자료도 IPFS에 저장되고 있다. 최근엔 디파이 서비스 일부도 자체 데이터를 저장하는 데 IPFS 저장소를 활용하고 있다. <br>
                            IPFS는 탈중앙화 스토리지 특성상 중간자가 애초에 없어 사용자에게 데이터 오너십이 더욱 강하게 부여된다. <br>
                            때문에 검열이나 데이터 유실을 걱정하지 않아도 된다는 점이 큰 장점이다.
                        </li>
                    </ul>
                </div>
                <div class="faq_info">
                    <div>
                        <p>My Office</p>
                        <button type="button" onclick="alert('준비중입니다.');">바로가기</button>
                    </div>
                    <div style="display:none">
                        <ul>
                            <li>
                                <span>회사명</span>
                                <p></p>
                            </li>
                            <li>
                                <span>사업자등록번호</span>
                                <p></p>
                            </li>
                            <li>
                                <span>대표 / 정보책임자</span>
                                <p></p>
                            </li>
                            <li>
                                <span>TEL</span>
                                <p></p>
                            </li>
                            <li>
                                <span>FAX</span>
                                <p></p>
                            </li>
                            <li>
                                <span>E-MAIL</span>
                                <p></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        Copyright 2021 © 1TERAPOWER. All Rights Reserved.
    </footer>
    
    <div class="btns">
        <div>
            <!-- <a href="/inquiry">
                <label>1:1문의하기</label>
                <img src="./img/ico_contact.png" alt="">
            </a>     -->
        </div>
        <div class="scroll_down">
            <label>Scroll Down</label>
            <img src="./img/ico_scroll_down.png" alt="">
        </div>
        <div class="scroll_top">
            <label>Top</label>
            <img src="./img/ico_scroll_top.png" alt="">
        </div>
    </div>

    <script src="/js/index.js"></script>
<%- include ('./inc/footer.ejs') -%>