<%- include ('./inc/header.ejs') -%>
<div class="inquiry">
    <div class="main_wrap">
        <div class="title">
            <span>문의 완료</span>
            <p>1:1 문의가 접수 되었습니다 :)</p>
        </div>
        <a href="/">홈으로 가기</a>
    </div>
</div>
<footer class="inquiry_success_copyright">
    Copyright 2021 © 1TERAPOWER. All Rights Reserved.
</footer>
<%- include ('./inc/footer.ejs') -%>